.profile__image {
  position: relative;
  width: 120px;
  height: 120px;
  margin: 0 29px 0 0;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
}

.profile__image::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: inherit;
  opacity: 0;
  background-color: #000;
  transition: opacity 0.3s ease;
}

.profile__image:hover::before {
  opacity: 0.8;
}

.profile__avatar-edit-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 26px;
  height: 26px;
  margin: 0;
  border: none;
  padding: 0;
  outline: none;
  opacity: 0;
  background-color: transparent;
  background-image: url(../../../images/avatar-edit-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.profile__image:hover .profile__avatar-edit-icon {
  opacity: 1;
}

.profile__avatar-edit-icon:hover {
  transform: translate(-50%, -50%) scale(1.2);
}

@media screen and (max-width: 740px) {
  .profile__image {
    margin: 0 10px 0 0;
  }
}

@media screen and (max-width: 480px) {
  .profile__image {
    margin-right: 0;
  }
}
